[run]
source = .
command_line = -m unittest discover test
omit =
    **/assets/templates/*
    **/*.txt
    **/*.md
    **/*.json
    **/*.xml

[report]
omit =
    **/assets/templates/*
    **/*.txt
    **/*.md
    **/*.json
    **/*.xml
exclude_lines =
    if __name__ == .__main__.:

[html]
omit =
    **/assets/templates/*
    **/*.txt
    **/*.md
    **/*.json
    **/*.xml