[submodule "test/resources"]
	path = test/resources
	url = https://github.com/BIM2SIM/bim2sim-test-resources.git
    branch = main
[submodule "butterfly"]
	path = butterfly
	url = https://github.com/BIM2SIM/butterfly.git
