ifcopenshell
docopt
numpy
pandas
matplotlib<3.9.0
networkx>=2.2, <3.3
python-dateutil
mako
pint
deep_translator
pint-pandas
git+https://github.com/squidKid-deluxe/pyvis.git@fix-show
git+https://github.com/tpaviot/pythonocc-utils
rwthcolors
SciencePlots
pillow
