# bim2sim add after release of bim2sim on pypi
pyqt5
pillow
RWTHColors
scienceplots
git+https://github.com/RWTH-EBC/TEASER@development
git+https://github.com/DaJansenGit/BuildingsPy.git
ebcpy
reportlab
svglib
